body {
    font-family: Roboto , sans-serif;
}

.navbar {
    background-color: #78866b;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #78866b;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #fff;
}
.section-title {
    font-family: pacifico, cursive;
}


#sobre-a-loja, #catalogo {
    background-color:#e2e9dc ;
}

.text-colored {
    color: #78866b;
}

.nav-catalogo .nav-link.active {
    background-color:#78866b ;
    color: #fff;
}

.nav-catalogo .nav-link:hover,
#fale-conosco button{
    color: #78866b;
}

.nav-catalogo .nav-link.active:hover {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 757px) {
    .carousel-item img {
        height: 280px;
    }
}